.country {
    border: 2px solid skyblue;
    /* margin: 15px; */
    padding: 15px;
    border-radius: 5px;
}

.flag {
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
    height: 150px;
}


.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}