.country-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.countries-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visited {
    background-color: rgb(197, 218, 197);
    color: black;
}

.visited-country-container {
    border-left: 2px solid red;
    border-radius: 5px;
    padding: 12px;
    margin: 7px;
}

.total-visited-country {
    display: flex;
    justify-content: space-between;
    align-items: center;
}